body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.navbar {
  border-color: #aaa;
  margin-bottom: 30px;
  margin-top: 20px;
}

.navbar-element {
  margin-left: 20px;
}

.navbar-user {
  margin-left: 80px
}

.navbar-user-img {
  height: 40px;
  width: 40px;
}

.logout-button {
  background:rgb(44, 138, 133);
  border-radius: 8px;
  height: 30px;
  color: #fff;

}

.poll {
  display: block;
  border-radius: 8px;
  border-style: solid;
  border-color: #aaa;
  color: #000;
  width: 50%;
  height: 250px;
  margin: 10px;
}
